table {

  width: 100%;
}
td{
  padding: 16px;
}

th {
  text-align: left;
  padding: 16px;
 
}
@media only screen and (min-width:700){

}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}
@media only screen and (max-width:600px){
  .conjunto{
    display: flex;
    flex-wrap: wrap;  }
   .titulo{
    padding-right: 50px;
   }
   
    .species{
      text-align: center;
     

    
    }
}